selenium
smolagents
webdriver_manager
torch
transformers
helium
langchain>=0.3.17
langchain-community
playwright
beautifulsoup4
pydantic
pydantic-ai
polars
pandas
matplotlib
networkx 
plotly
seaborn
requests
scipy
numpy
scikit-learn
pyarrow
loguru
tqdm
expand-latex-macros>=1.1.2
