# Python
__pycache__/
*.py[cod]
*$py.class
*cache*

# Virtual environments
.env
.venv
env/
venv/

# OS files
.DS_Store

# Logs and lock files
*.log 
*.log.*

# Data and documents
*.pdf
data/

# LaTeX
*.aux
*.bbl
*.blg
*.out
*.toc
*.dvi
*.fls
*.fdb_latexmk
*.synctex.gz
*.tex

# IDE specific
.idea/
.vscode/

# Poetry specific
poetry.lock

*.sif
